.header{
    margin: auto !important;
    padding: 40px 0px 0px 0px !important;
    width: 10%;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}